h1 {
    text-align: center;
    font-family:"Copperplate Gothic",fantasy;
}
body{
    text-align:center;
    justify-content: center;
}

.flex-container {
    border-radius:5pt;
    display: flex;
    background-color: #6EEAD5;
    justify-content: center;
    text-align: center;
    border-top-style: solid;
    border-bottom-style: solid;
}
.flex-container > div{
    margin-left:10px;
}

.flex-container p{
    font-size:15pt;
}
    

.button{
    font-size:10pt;
    display:flex;
    justify-content: center;
    padding:5px;
}

.button div{
    margin:10pt;
    width:80pt;
    height80pt;
}

.button input{
    border-radius:5pt;
}

.signup{
    font-size:15pt;
    text-align:left;
    border: double;
    margin:10pt;
    padding:15pt;
}

.signup p{
    color: brown;
}